@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #FBAF00;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
}

#column-1 {
  background:#CFCFCD;
}

#column-2 {
  background:#FF66A3;
}

#column-3 {
  background: #7A3B69;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color:#05668d;
    width: 50%;
  }

  .col-3 {
    float: left;
    clear: both;
  }

  #column-1 {
    background-color: #028090;
    width: 50%;
  }

  #column-2 {
    background-color:#02c39a;
    width: 50%;
  }

  #column-3 {
    background-color:#f0f3bd;
    width: 50%;
  }

  footer {
    background-color:#e3e3e3;
    width: 50%;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {

  header {
    background-color:#619b8a;
  }

  #column-1 {
    background-color: #a1c181;
  }

  #column-2 {
    background-color:#fcca46;
  }

  #column-3 {
    background-color:#fe7f2d;
  }

  footer {
    background-color:#233d4d;
  }

  .col-3 {
    width: 33.3%;
  }
   
}
